<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title></title>

		<!-- Bootstrap -->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<!--weui组件-->
		<link href="../css/weui.min.css" rel="stylesheet"/>
		<link href="../css/jquery-weui.min.css" rel="stylesheet"/>
		<!--样式-->
		<link href="../css/style.css" rel="stylesheet">
		<link href="../css/main.css" rel="stylesheet">
	</head>
	<body class="background-color">
		<div class="container ">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-md-offset-3 padding0 synopsis-body" >
					
				</div>
			</div>
		</div>					
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="../js/jquery-3.3.1.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="../js/bootstrap.min.js"></script>
		<!--weui组件-->
		<script src="../js/jquery-weui.min.js"></script>
		<script src="../js/swiper.min.js"></script>
		<script src="../js/city-picker.min.js"></script>
		 <script>
		 	
        </script>

	</body>

</html>