<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.dao.ChargeProjectMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.domain.ChargeProject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id_" jdbcType="VARCHAR" property="id" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
  </resultMap>

  <select id="findProjectAll" resultMap="BaseResultMap" parameterType="String">
    select * from charge_project
  </select>
</mapper>