<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.system.dao.ItemsTemporaryMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.project.system.domain.ItemsTemporary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="batch" jdbcType="VARCHAR" property="batch" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="specifications" jdbcType="VARCHAR" property="specifications" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="inventory_num" jdbcType="INTEGER" property="inventoryNum" />
    <result column="inventory_cost" jdbcType="DOUBLE" property="inventoryCost" />
    <result column="validity" jdbcType="TIMESTAMP" property="validity" />
    <result column="retail_price" jdbcType="DOUBLE" property="retailPrice" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="production_code" jdbcType="VARCHAR" property="productionCode" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="expiration_time" jdbcType="VARCHAR" property="expirationTime" />
  </resultMap>

  <select id="getItemsTemp" parameterType="String" resultMap="BaseResultMap">
    select * from (
      select * from items_temporary where order_id = #{orderId}
    ) t LIMIT ${limit} OFFSET ${page}
  </select>

  <select id="getItemsTempCount" parameterType="String" resultType="int">
    select count(*) from items_temporary where order_id = #{orderId}
  </select>

  <select id="findItemsTempList" parameterType="String" resultMap="BaseResultMap">
    select * from items_temporary where order_id = #{orderId}
  </select>

  <select id="findItemsTemp" parameterType="String" resultMap="BaseResultMap">
    select start_time,production_code,supplier,expiration_time,batch,code,name,type_id,type,model,specifications,brand,inventory_cost,validity,retail_price,remark,unit,sum(inventory_num) inventory_num, sum(money) money from items_temporary where order_id = #{orderId} group by start_time,production_code,supplier,expiration_time,batch,code,name,type_id,type,model,specifications,brand,inventory_cost,validity,retail_price,remark,unit
  </select>

  <delete id="deleteCode" parameterType="String">
     delete from items_temporary where code = #{code} and order_id = #{orderId}
  </delete>

  <select id="getItemsTempSum" parameterType="String" resultType="java.util.Map">
    select sum(inventory_num) numSum, sum(money) moneySum from items_temporary where order_id = #{orderId}
  </select>

  <select id="getItemsNum" parameterType="String" resultType="int">
    select sum(inventory_num) from items_temporary where order_id=#{orderId} and code=#{code} group by code
  </select>

  <select id="findStockDetail" parameterType="String" resultType="java.util.Map">
    select * from (
    select code inOutCode,name pName,model pModel,specifications pSpe,brand pBrand,sum(inventory_num) num,batch batchId,unit pUnit,remark,
    validity endTime,sum(money) money,retail_price price,inventory_cost cost,start_time,production_code,supplier,expiration_time
     from items_temporary where order_id=#{orderId}
     group by code,name,batch,model,brand,specifications,inventory_cost,retail_price,validity,remark,unit,start_time,production_code,supplier,expiration_time) t LIMIT ${limit} OFFSET ${page}
  </select>

  <select id="findStockDetailCount" parameterType="String" resultType="int">
    select count(*) from (
      select code
       from items_temporary where order_id=#{orderId}
       group by code,name,batch,model,brand,specifications,inventory_cost,retail_price,validity
    ) t
  </select>

</mapper>